.App {
}
.App-content {
  border: 1px solid black;
  display: grid;
  grid-template-areas:
    'enemies'
    'players';
}
.App-contentArea > * {
  width: 100%;
  padding: 2rem;
}
.App-heading {
  font-weight: bold;
}
.App-enemies {
  grid-area: enemies;
  display: flex;
}
.App-players {
  grid-area: players;
  display: flex;
  flex-wrap: wrap;
}
.App-players > * {
  flex-basis: 50%;
}
