.Skill {
  padding: 1rem;
  border: 1px solid black;
  min-width: 10rem;
  overflow-y: scroll;

  &-play {
    margin-bottom: 1rem;
  }

  &-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-body {
    &Line {
      margin-bottom: 1rem;
    }
  }
}
